body {
    background-color: black;
    color: white;
}

.header {
    padding: 2rem;
    background-color: black;
    color: white;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    /* border-bottom: 2px solid #fff; */
    /* padding-bottom: 1.5rem; */
    width: 100%;
}

.line {
    border-top: 3px solid white;
    margin-bottom: 20px;
}

.form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.form-signup .form-floating:focus-within {
    z-index: 2;
}

.form-signup input[type="text"],
.form-signup input[type="email"],
.form-signup input[type="password"],
.form-signup select {
    margin-bottom: 20px;
}

.btn-create-account {
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    padding: 0.6rem 0.7rem;
    border-radius: 1rem;
}

.text-lg {
    font-size: 1.5rem;
    
}