body {
    background-color: black;
    color: white;
}
.header {
    padding: 2rem;
    background-color: black;
    color: white;
}
.header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    /* border-bottom: 2px solid #fff; */
    /* padding-bottom: 1.5rem; */
    width: 100%;
}
.line {
    border-top: 3px solid white;
    margin-bottom: 20px;
}

.form-forgot-password {
    width: 90%;
    max-width: 400px;
    padding: 40px;
    margin: 0 auto;
}
.form-forgot-password .form-floating:focus-within {
    z-index: 2;
}
.form-forgot-password input[type="email"] {
    margin-bottom: 10px;
}
.btn-forgot-password {
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
}